/* h1{
    margin-left: 8rem;
    font-family: 'Poppins', sans-serif;
}

*{
    background-color: black;
    color: white;
} */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dbdbdb;
    padding: 25px 80px;
    box-shadow: 10px 0px 10px 0px rgba(92, 91, 91, 0.547);
  }
  
  .nav-links {
      display: flex;
      gap: 20px;
      list-style: none;
      align-self: flex-end;
    
}

.nav-links a {
    text-decoration: none;
    color: grey;
    font-size: 1rem;
    transition: color 0.3s;
    padding: 10px;
}


.nav-links a:hover {
    color: green;
    background-color: white;
    border-radius: 0.5rem;
    /* font-size: 1.1rem; */
}

#brand-logo {
    display: flex;
    /* align-self: center; */
}

@media (max-width: 768px) {
    .nav-links {
      flex-direction: column;
      gap: 10px;
      align-items: center;
      background-color: rgb(235, 235, 235);
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 0px 0px 10px 10px;
      width: 100%;
    }
    .navbar {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: white;
        padding: 10px 0px 0px 0px;
        border-radius: 0px 0px 10px 10px;
    }
    #brand-logo {
        display: flex;
        align-self: flex-start;
        padding-left: 16px;
    }
  }